@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 75px;
	padding-bottom: 20px;
}

h1 {
	font-size: 45px !important;
	line-height: 35px;
}

.navbar {
	height: 75px;
	background: white;
}

.navbar-inverse .navbar-nav li a {
	padding-top: 25px;
	font-size: 15px;
	color: black;
}

.navbar-inverse .navbar-nav li a:hover {
	height: 75px;
	color: black;
	background: #D5E2F2;
}

.navbar-inverse .navbar-nav .active a{
	height: 75px;
	color: black;
	background-color: #A7BDD9;
}

.navbar-inverse .navbar-nav .active a:hover{
	height: 75px;
	color: black;
	background-color: #A7BDD9;
}

.jumbotron {
	background: #5684BF;
	color: #D5E2F2;
}

.glyphicon {
	padding-top: 10%;
	font-size: 60px;
	color: #548DBF;
}

#slogan {
	padding-top: 0;
	margin-top: 0;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 5px 0 5px 0;
}

#tos {
	font-size: 15px;
}

#tos a {
	color: white;
	text-decoration: underline;
}

.pricing {
	padding-top: 50px;
	padding-bottom: 50px;
}

.columns {
	border: 2px solid #5684BF;
	width: 20em;
	background-color: white;
	display: inline-block;
	margin-bottom: 50px;
}

.price {
	list-style-type: none;
	border: 1px black;
	margin: 0;
	padding: 0;
}

.price .cloud-type {
	background-color: #D5E2F2;
	font-size: 35px;
	color: black;
}

.price .cloud-price {
	font-size: 25px;
	background-color: #A7BDD9;
	color: black;
}

.price li {
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #D5E2F2;
}

.carousel-inner {
	background: #D5E2F2;
}

.carousel-inner > .item {
	margin-bottom: -30px;
}

/*.carousel-inner > .item > h2,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin-left: 15%;
}*/

.carousel-caption {
	color: black;
}

.team-member {
	background: #D5E2F2;
	border-radius: 1em;
	margin: 1em 0;
	padding: 1em 0;
}

.question {
	background: #D5E2F2;
	border-radius: 1em;
	margin: 1em 0;
	padding: .5em 1em;
}

#pricing .glyphicon {
	font-size: 2em;
	padding: 0;
}

#pricing td {
	vertical-align: middle;
}

#stratosphere {
	height: 80vh;
	background-color: #5684BF;
	overflow: hidden;
}

footer {
	/*background: #548DBF;*/
}

@keyframes wind{
	0% {
		left: -150%;
	}
	100% {
		left: 100%;
	}
}

/* individual cloud parameters are given in _data/clouds.yaml */
#stratosphere .cloud {
	animation-name: wind;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: relative;
	will-change: left;
}